#root {
  background: black;
  width:100vw;
  height: 100vh;
  margin-top: 0;
}

.navBar {
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  display: flex;
  background: white;
  border: black solid 1px ;
}

.navBarlinks {
  color: black;
  font-size: 1em;
}

.footerStyle {
  font-size: 1em;
  color: black;
  border: black 1px solid;
}



/* .footerContent {
  display: inline-block;
  position: relative;
} */
